@import "./variables";
@import "./mixins";
/* compoments */
@import "./components/header";
@import "./components/searchBar";
@import "./components/errorContent";
@import "./components/footer";

.body-block {
	margin-bottom: 5em;
}

.container-border {
    margin-top: 1em;
    padding: 0.5em;
    @include box-shadow-light-green(1px,-1px,5px,5px);
  
}

.footer-text {
	margin-top: 1em;
	margin-bottom: 1em;
}

.gap {
	margin: 0 0.2em 0 0.2em;
}